body
{
  color: white;
  background: rgb(189,61,231);
background: linear-gradient(346deg, rgba(189,61,231,1) 8%, rgba(221,65,65,1) 29%, rgba(45,88,164,1) 51%, rgba(74,210,138,1) 77%);
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}
#result_emotion_name ,#result_emotion_name2  
{
  color: black;
}
.emotion_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}
#heading{
  font-size: 30px;
}
